.modal-book-session-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-book-session-main-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    background: #C0D0EC;
    position: absolute;
    border-radius: .2em;
    overflow: hidden;
}

.modal-book-session-header {
    top: 0px;
    position: sticky;
    padding: .2em;
    font-weight: bold;
    text-align: center;
    background-color: #E0E0E2;
    font-size: 1.3em;
}

.modal-book-session-sub-header {
    top: 0px;
    position: sticky;
    padding: .2em;
    font-weight: bold;
    text-align: center;
    background-color: #E0E0E2;
}

.search-bar-for-schedule {
    margin: 1em;
    border: 1px solid gray;
    width: 20em;
    border-radius: .3em;
    padding: .1em .2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
}

.search-table-for-schedule-container {
    width: 100%;
    overflow-y: auto;
}

.search-table-for-schedule {
    width: 100%;
    margin: 0 auto 2.5em auto;
    border-collapse: collapse;
}

.search-table-for-schedule tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.644);
}

.search-table-for-schedule th {
    min-width: 5em;
    position: sticky;
    top: -1px;
    background-color: #e1e2e4;
    padding: .3em 1em;
    border: 1px solid rgb(199, 198, 198);
    background: #fff;
    cursor: default;
}

.search-table-for-schedule td {
    max-width: 20em;
    padding: .2em 1em;
    border: 1px solid rgb(199, 198, 198);
}

.search-table-for-schedule .row2 {
    background: rgba(255, 255, 255, 0.644);
}

.search-table-for-schedule tr:hover {
    background: #224bd436;
    cursor: pointer;
}

.filter-highlighted-cell {
    font-weight: bold;
}