.modal-book-session2-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-book-session2-main-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    background: #E0E0E2;
    position: absolute;
    border-radius: .2em;
    overflow: hidden;
}

.modal-book-session2-header {
    top: 0px;
    position: sticky;
    padding: .2em;
    font-weight: bold;
    text-align: center;
    background-color: #E0E0E2;
    font-size: 1.3em;
}

.modal-book-session2-sub-header {
    top: 0px;
    position: sticky;
    padding: .2em;
    font-weight: bold;
    text-align: center;
    background-color: #E0E0E2;
}

.session2-table-container {
    height: 100%;
    overflow-x: auto;
}

.session2-table {
    border-collapse: collapse;
}

.session2-table-header-cell {
    width: 8em;
    min-width: 8em;
    border: 1px solid gray;
    background: #fff;
    padding: .5em 0em;
}

.session2-table-cell {
    width: 8em;
    min-width: 8em;
    border: 1px solid gray;
    padding: .5em 0em;
    text-align: center;
    font-weight: bold;
}

.free-sessions {
    background: rgb(103, 237, 185);
    cursor: pointer;
}

.free-sessions:hover {
    background: rgb(206, 246, 231);
}

.booked-sessions {
    cursor: not-allowed;
    background: rgb(237, 103, 103);
}