.navbar {
  position: sticky;
  z-index: 20;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: .2em;
  gap: 1em;
  background: transparent;
  border-radius: 1em 0em 0em 1em;
  margin-right: 1.1em;
}

.navbar-button {
  padding: .2em 1em;
  border-radius: 2em;
  border: none;
  background: #9dafe2;
  color: #1d3062;
  font-weight: bold;
  font-size: .9em;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
  outline: none;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
}

.navbar-button-user {
  padding: .2em 1em;
  border-radius: 2em;
  border: none;
  background: #444;
  color: white;
  font-weight: bold;
  font-size: .9em;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
  outline: none;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  list-style-type: none;
  width: 10em;
  text-align: center;
}



.navbar-button-user-settings {
  padding: .2em 1em;
  border: none;
  background: #444;
  color: white;
  font-weight: bold;
  font-size: .9em;
  outline: none;
  border-radius: 5px;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  list-style-type: none;
}

.navbar-button-user:hover,
.navbar-button-user-settings:hover {
  background-color: #ff5100;
}

li {
  padding-bottom: 10px;
}


#navbarMenu {
  display: none;
  position: absolute;
  width: 10em;
  background-color: #444;
  padding: 5px;
  /* Adjust the top property to position the menu below the navbar */
  top: 100%;
  right: 0;
  list-style-type: none;
  border-radius: 5px;
  text-align: center;
}


.navbar-button:hover {
  cursor: pointer;
}