.filter-main-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    gap: .5em;
    padding: .5em;
    border-radius: 1em;
}

.filter-container {
    display: inline-flex;
    flex-direction: column;
    padding: .5em;
    gap: .3em;
    padding: .5em;
    border-radius: 1em;
    background-color: rgba(76, 74, 212, 0.062);
}

.filter-container .gap {
    margin-top: .5em;
}

.filter-container-header {
    font-weight: bold;
    text-align: center;
}

.filter-object {
    display: flex;
    flex-direction: row;
}

.filter-element {
    display: inline-flex;
    gap: .3em;
    flex-direction: column;
}

.filter-element span {
    font-weight: bold;
    text-align: center;
}

.filter-object label {
    padding: 0 .3em;
    cursor: pointer;
    user-select: none;
}

.filter-element input[type=checkbox] {
    cursor: pointer;
}

.filter-element .main-input {
    border: 1px solid gray;
    width: 13em;
    border-radius: .3em;
    padding: .1em .2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
}

.filter-element input::-webkit-outer-spin-button,
.filter-element input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter-element input[type=number] {
    -moz-appearance: textfield;
}

.reset-filter-button {
    width: 60%;
    min-width: 10em;
    margin: .2em auto;
    font-weight: bold;
    font-size: .9em;
    border: none;
    color: #fff;
    background-color: #ff5100;
    padding: .2em 1em;
    cursor: pointer;
    border-radius: 2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
}

.filter-this-button {
    margin-left: auto;
    width: 1.2em;
    height: 1.1em;
    font-weight: bold;
    border: none;
    color: #fff;
    background-color: #ff510034;
    font-size: .9em;
    cursor: pointer;
    border-radius: .2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
}

.filter-this-button:hover {
    background-color: #ff5100;
}

.red-highlighted-filter {
    border-radius: .2em;
    background: rgba(255, 0, 0, 0.5);
    color: white;
    font-weight: bold;
}