.filter-main-container {
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding: .5em;
    border-radius: 1em;
    width: fit-content;
    padding-bottom: 1em;
    background-color: white;
    margin-top: 2.30em;
}



.filter-container {
    display: inline-flex;
    flex-direction: column;
    padding: .5em;
    gap: .3em;
    padding: .5em;
    border-radius: 1em;
    color: #333;
}

.filter-container:hover {
    background-color: rgba(178, 212, 126, 0.20);
    width: fit-content
}

.filter-container .gap {
    margin-top: .5em;
    color: #333;
}

.filter-container-header {
    font-weight: bold;
    text-align: center;
}

.filter-object {
    display: flex;
    flex-direction: row;
    color: #333;
    padding: 0.15em;
}

.filter-element {
    display: inline-flex;
    gap: .3em;
    flex-direction: column;
}

.filter-element span {
    font-weight: bold;
    text-align: center;
}

.filter-object label {
    padding: 0 .3em;
    cursor: pointer;
    user-select: none;
}

.filter-element input[type=checkbox] {
    cursor: pointer;
    accent-color: #8BE234;
}



.filter-element .main-input {
    border: 1px solid rgba(1, 69, 94, 0.75);
    ;
    width: 16em;
    border-radius: .3em;
    padding: .1em .2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);

}

.filter-element input::-webkit-outer-spin-button,
.filter-element input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter-element input[type=number] {
    -moz-appearance: textfield;
}

.reset-filter-button {
    width: 60%;
    min-width: 10em;
    margin: .2em auto;
    font-weight: bold;
    font-size: .9em;
    border: none;
    background-color: #333;
    color: #F7F7F1;
    padding: .2em 1em;
    cursor: pointer;
    border-radius: 2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
}

.filter-this-button {
    margin-left: auto;
    width: 1.25em;
    height: 1.25em;
    font-weight: bold;
    border: none;
    color: #fff;
    background-color: #B4B4BB;
    font-size: .9em;
    cursor: pointer;
    border-radius: .2em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
}

.filter-this-button:hover {
    background-color: #57A708;
}

.red-highlighted-filter {
    border-radius: .2em;
    background: rgba(255, 0, 0, 0.5);
    color: white;
    font-weight: bold;
}