#schedulerExternalContainer {
    position: absolute;
    margin-top: 4.5em;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.scheduler-external-table-container {
    width: 100%;
    overflow-y: scroll;
}

.scheduler-external-table {
    margin: 0 auto 2.5em auto;
    border-collapse: collapse;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
}

.center-tag {
    text-align: center;
}

.mth-full-session {
    background: rgba(0, 0, 255, 0.24);
}

.scheduler-external-table th {
    min-width: 5em;
    position: sticky;
    top: -1px;
    padding: .3em 1em;
    border: 1px solid rgb(199, 198, 198);
    background: #49166D;
    color: white;
    cursor: default;
}

.scheduler-external-table td {
    max-width: 20em;
    padding: .2em 1em;
    border: 1px solid rgb(199, 198, 198);
    cursor: default;
}

.scheduler-external-table tr:nth-child(even) {
    background: #ECE7EF;
}

.scheduler-external-table tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.644);
}

.scheduler-external-table tr:hover {
    background: #224bd436;
}

.day-separator {
    border-bottom: .2em solid black;
}

.pinfo-popup {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.pinfo-popup-object {
    display: flex;
    flex-direction: row;
    font-size: .9em;
    color: #fff;
}

.pinfo-popup-title {
    font-weight: bold;
    min-width: 8em;
}


.highlighted-session-row {
    animation: target-fade 10s;
}


@-webkit-keyframes target-fade {
    from {
        background-color: yellow;
    }

    to {
        background-color: transparent;
    }
}

@-moz-keyframes target-fade {
    from {
        background-color: yellow;
    }

    to {
        background-color: transparent;
    }
}

@-o-keyframes target-fade {
    from {
        background-color: yellow;
    }

    to {
        background-color: transparent;
    }
}

@keyframes target-fade {
    from {
        background-color: yellow;
    }

    to {
        background-color: transparent;
    }
}