.modal-stats-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-stats-main-container {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    background: #E4E9F7;
    position: absolute;
    border-radius: .2em;
    overflow: hidden;
}

.modal-stats-header {
    top: 0px;
    position: sticky;
    padding: .2em;
    font-weight: bold;
    text-align: center;
    background-color: #a3bcff;
    font-size: 1.3em;
}

.modal-stats-content {
    height: 100%;
}

.table-of-stats {
    margin: .5em 1em 1em 1em;
    border-collapse: collapse;
}

.table-of-stats th,
.table-of-stats td {
    border: 1px solid rgba(0, 0, 0, 0.233);
    min-width: 11em;
    text-align: center;
    font-weight: bold;
}

.table-of-stats th {
    padding: .1em .3em;
    background: #fff;
}

.table-of-stats td {
    background: rgb(240, 240, 240);
}

.table-of-stats td span {
    display: inline-block;
    width: 50%;
    line-height: 2em;
    cursor: pointer;
}

.table-of-stats td span:hover {
    background: white;
}

.table-of-protocols td span:hover {
    cursor: default;
}

.still-interested-participants-only-filter,
.stats-filter-element {
    margin: .2em auto;
    display: inline-flex;
    gap: 1em;
    flex-direction: row;
}

.still-interested-participants-only-filter {
    margin-top: 1em;
}

.stats-filter-element div {
    display: flex;
}

.still-interested-participants-only-filter span,
.stats-filter-element span {
    font-weight: bold;
    min-width: 8em;
}

.still-interested-participants-only-filter input[type=checkbox],
.stats-filter-element input[type=checkbox] {
    cursor: pointer;
}

.still-interested-participants-only-filter label,
.stats-filter-element label {
    padding-left: .3em;
    cursor: pointer;
    user-select: none;
}

.modal-stats-main-container .first-number {
    color: rgb(29, 4, 168);
}

.modal-stats-main-container .second-number {
    color: rgb(0, 121, 16);
}

.modal-stats-main-container .still-interested-row {
    color: rgb(228, 0, 0);
}

.stats-demo-bin-cell {
    position: relative;
}

.stats-demo-bin {
    position: absolute;
    top: 0;
    left: 0;
    background: #00000081;
    color: #fff;
    font-size: .7em;
    padding: .2em;
}

.table-of-stats tr th:last-child,
.table-of-stats tr td:last-child {
    border-left: .2em solid #1d3062;
}

.table-of-protocols tr th:last-child,
.table-of-protocols tr td:last-child {
    border-left: none;
}

.stats-total-row {
    border-top: .2em solid #1d3062 !important;
}